body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #eae6f4;
  padding: 100px 30px;
}

.navigation-section,
.about-body {
  background-color: #eae6f4;
}

.logo {
  max-width: 201px;
  max-height: 31px;
  padding: 0 0 0 0;
}

.logo-small {
  max-width: 46px;
  padding: 0 0 0 0;
}

nav li {
  list-style: none;
  padding: 15px 20px 0px 20px;
  font-weight: bold;
  line-height: 40px;
}

nav li .active {
  color: #9175ce;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #9175ce;
  text-decoration: overline;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 60px;
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.color-button {
  color: white;
  background-color: #9175ce;
  margin: 50px 20px;
  padding: 15px 30px;
  border: 2px solid #9175ce;
  border-radius: 4px;
  transition: all 200ms ease-out;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.color-button:hover {
  color: #9175ce;
  background-color: #eae6f4;
  margin: 50px 20px;
  padding: 15px 30px;
  border: 2px solid #9175ce;
  border-radius: 4px;
}

.white-button {
  color: #9175ce;
  background-color: white;
  margin: 15px 0 0 0;
  padding: 12px 28px;
  border: 2px solid #9175ce;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  transition: all 200ms ease-out;
}

.white-button:hover {
  color: white;
  background-color: #9175ce;
}

.about-section button {
  display: block;
  margin: 40px auto;
}

.hero p {
  text-align: center;
  font-size: 18px;
  margin: 40px 70px 0 70px;
}

.homepage-descriptions {
  line-height: 30px;
  padding: 0 0 0 40px;
}

.about-section {
  display: block;
  margin: 50px auto;
  width: 900px;
  padding: 40px 80px;
  background-color: white;
  border-radius: 4px;
}

.about-text {
  font-size: 15px;
  line-height: 2;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0 0 0;
}

.project-image {
  width: 100%;
  border-radius: 4px;
}

.project-image:hover {
  transform: scale(0.9);
}

.woman-coding-image {
  display: block;
  margin: 50px auto 20px;
  width: 600px;
  border-radius: 4px;
}

.col-lg h2 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 2;
}

.work-container {
  margin: 50px 0 0 0;
}

.work-container h2 {
  font-weight: bold;
}

.work-container p {
  text-align: center;
}

.contact-info a {
  text-decoration: none;
  color: #9175ce;
}

.contact-info a:hover {
  color: black;
}

.contact-heading {
  margin: 80px 0 0 0;
}

.contact-info {
  text-align: center;
  margin: 50px 0 0 0;
  font-weight: bold;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  .col-lg h2 {
    font-size: 35px;
  }
  .homepage-descriptions {
    text-align: center;
  }

  .about-section {
    width: 100%;
  }

  .col-lg h2 {
    font-size: 25px;
  }
}
