body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #eae6f4;
  padding: 100px 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 60px;
  padding: 20px;
  text-align: center;
}

.hero h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
}

.hero button {
  color: white;
  background-color: #9175ce;
  margin: 50px 20px;
  padding: 15px 30px;
  border: 2px solid #9175ce;
  border-radius: 4px;
  transition: all 200ms ease-out;
  font-size: 15px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.hero button:hover {
  color: #9175ce;
  background-color: #eae6f4;
  margin: 50px 20px;
  padding: 15px 30px;
  border: 2px solid #9175ce;
  border-radius: 4px;
}

.hero p {
  text-align: center;
  font-size: 18px;
  margin: 40px 70px 0 70px;
}

.homepage-descriptions {
  line-height: 30px;
  padding: 0 0 0 40px;
}

.homepage-descriptions button {
  color: #9175ce;
  background-color: white;
  margin: 15px 0 0 0;
  padding: 12px 28px;
  border: 2px solid #9175ce;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  transition: all 200ms ease-out;
}

.homepage-descriptions button:hover {
  color: white;
  background-color: #9175ce;
}

img {
  width: 100%;
  border-radius: 4px;
}

img:hover {
  transform: scale(0.9);
}

.col-lg h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 2;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  .col-lg h2 {
    font-size: 35px;
  }
  .homepage-descriptions {
    text-align: center;
  }
}
